@inherits LayoutComponentBase
@layout AccountLayout

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject TooltipService tooltipService
@using Microsoft.AspNetCore.Components.Authorization
@using Radzen.Blazor

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
